@media screen and (max-width: 800px) {
    .inline{
        align: center;
        background: url("/materials/pictt.jpg");
        height: 150px;
        width: 100%;
    }
    .blocks{
        text-align: center;
        float: left;
        padding-top: 3%;
        margin-right: 30%;
        margin-left: 40%;
        font-family: "Century Schoolbook", serif;
        color: antiquewhite;
        font-size: medium;
    }
    .links{
        align: center;
        float: left;
        font-family: "Century Schoolbook", serif;
        color: antiquewhite;
        font-size: medium;
    }
}
@media screen and (max-width: 2000px) and (min-width: 800px){
    .inline{
        background: url("/materials/pictt.jpg");
        display: inline-block;
        height: 200px;
        width: 100%;
    }
    .blocks{
        float: left;
        padding-left: 20%;
        padding-top: 6%;
        text-align: center;
        font-family: "Century Schoolbook", serif;
        color: antiquewhite;
        font-size: large;
        max-height: 3%;
        max-width: 10%;
    }
    .links{
        padding-top: 6%;
        font-family: "Century Schoolbook", serif;
        color: antiquewhite;
        font-size: large;
    }
}