.images{
    text-align: center;
    margin-top: 2%;
    display: inline-block;
    margin-left: 5%;
}
.image{
    text-align: center;
    width: 30%;
    height: 30%;
    float: left;
    padding: 1%;
}
.pos{
    background: #ffffff;
    margin-left: 1%;
    width: 30%;
    height: 30%;
    padding-bottom: 3%;
    float: left;
}