.button{
    border-radius: 10%;
    background-color: white;
    font-family: fantasy ;
    color: gray;
    font-size: medium;
}
.font{
    float: left;
    padding-right: 1%;
    font-family: fantasy;
    font-weight: lighter;
    color: black;
    text-align: center;
}
.photos{
    text-align: center;
}
.category{
    padding-top: 1%;
    padding-left: 10%;
    width: 100%;
    display: inline-block;
}